
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Album Tags</title>

    <!-- MATERIALIZE AND CUSTOM STYLING FOR COMPONENTS IN TEMPLATE -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/compiled_materialize.css") %>"/>
  </head>
  <body class="grey lighten-5">
    <!-- TOP NAVBAR -->
    <nav id="main-nav">
      <div class="nav-wrapper grey darken-3">
        <a href="/" class="brand-logo center">
          <img id="site-title-icon" src="<%= Routes.static_path(@conn, "/images/headphones_100.png") %>">
          <span>Album Tags</span>
        </a>
        <ul id="nav-mobile" class="left">
          <li><a id="open-sidenav" href=""><i class="material-icons">menu</i></a></li>
        </ul>
      </div>
    </nav>

    <!-- SLIDE-OUT NAV MENU -->
    <ul id="slide-out" class="sidenav">
      <li id="login-button">
        <%= if @conn.assigns[:current_user] do %>
          <%= link to: Routes.auth_path(@conn, :logout), method: :delete do %>
            <i class="material-icons">account_circle</i>Sign Out
          <% end %>
        <% else %>
          <%= link to: Routes.auth_path(@conn, :request, "google") do %>
            <i class="material-icons">account_circle</i>Google Sign In
          <% end %>
        <% end %>
      </li>
      <li><div class="divider" style="margin-bottom:8px;"></div></li>
      <li><a href="/">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a id="open-search-modal" class="modal-trigger" href="#search-modal">Search</a></li>
      <li><a href="#">All Tags</a></li>
      <li><a href="#">My Favorites</a></li>
      <li><a href="#">My Lists</a></li>
    </ul>

    <!-- SEARCH MODAL -->
    <div id="search-modal" class="modal">
      <div class="modal-content">
        <h5>Search for an album or artist</h5>
        <div class="input-field">
          <i style="opacity:0.3;" class="material-icons prefix">search</i>
          <input id="album-search-input" type="search">
        </div>
        <div id="album-search-results">
          <!-- search results go here -->
        </div>
      </div>
    </div>

    <!-- LOAD PAGE TEMPLATE -->
    <%= render @view_module, @view_template, assigns %>

    <!-- MATERIALIZE AND CUSTOM JS FOR COMPONENTS IN TEMPLATE -->
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/compiled_materialize.js") %>"></script>
  </body>
</html>
