#top-row {
  margin-top: 6px;
  margin-bottom: 2px;
}

#album-cover-col {
  padding: 10px 10px 10px 10px;
}

#album-cover {
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
}

#album-info-col {
  padding: 5px 2px;
}

#title {
  font-size: 1.3em;
  margin-bottom: 10px;
  font-weight: 600;
}

#presented-by,
#record-company {
  font-size: 1.0em;
  font-weight: 200;
  margin: 0px;
  padding: 0px;
  line-height: normal;
}

#artist {
  margin: 5px 0px;
  font-size: 1.2em;
  color: #0091ea;
  font-weight: 500;
}

#songs-row {
  margin: 0px 15px;
}

#songs-row td {
  padding: 8px 14px;
}

#songs-row .track-number {
  width: 10px;
  padding-right: 0px;
  padding-left: 0px;
  font-weight: 200;
  text-align: right;
}
