// DEFINE PAGE COLORS
$background-grey: #fafafa;
$modern-blue: #0091ea;

#top-row {
  margin-top: 6px;
  margin-bottom: 2px;
}

#album-cover-col {
  padding: 10px 20px 10px 10px;
  max-width: 350px;
  @media screen and (max-width: 500px) {
    padding: 10px 10px 10px 10px;
  }
  .album-cover {
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    opacity: 1;
    animation: fadeIn 1s ease;
    @keyframes fadeIn{
      0%{opacity: 0;}
      100%{opacity: 1;}
    }
  }
}

#album-info-col {
  padding: 5px 2px;
  #title {
    font-size: 2.4em;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 600;
    @media screen and (max-width: 500px) {
      font-size: 1.3em;
    }
  }
  #artist {
    margin: 5px 0px;
    font-size: 1.7em;
    color: $modern-blue;
    font-weight: 500;
    @media screen and (max-width: 500px) {
      font-size: 1.2em;
    }
  }
  #record-company {
    font-size: 1.0em;
    font-weight: 200;
    margin: 0px;
    padding: 0px;
    line-height: normal;
    @media screen and (max-width: 500px) {
      font-size: 1.0em;
    }
  }
  #apple-music-link-container-top {
    margin-top: 15px;
    font-weight: 300;
    i {
      display: inline;
      vertical-align: middle;
    }
    div {
      display: inline;
    }
  }
}

#album-cover-spinner-container {
  margin: 120px 0px;
  @media screen and (max-width: 375px) {
    margin: 42px 0px;
  }
  @media screen and (min-width: 376px) and (max-width: 414px) {
    margin: 45px 0px;
  }
}

.card {
  /* override default box shadow to only be on the top of the card */
  box-shadow: 0 -2px 1px 0px rgba(0,0,0,0.05);
  .card-content {
    /* change default padding for cards */
    padding: 8px 12px;
  }
}

// override defaults for tabs
.tabs {
  /* Color of underline indicator */
  .indicator {background-color: #64b5f6;}
  .tab {
    a {
      color: black;
      &:hover {color: black;}
    }
    /* when a tab is active but not selected */
    a.active {color: black;}
    /* when a tab is active and selected */
    a:focus.active {
      color: black;
      background-color: $background-grey;
    }
  }
  .tab-scope-indicator {
    opacity: 0.3;
    margin-left: 4px;
    margin-right: -4px;
    vertical-align: middle;
    i {
      margin-top: 16px;
      transform: scale(1.2);
    }
  }
}

#songs-card {
  tr {
    border-bottom: 1px solid rgba(0,0,0,0.07);
  }
  td {
    padding: 8px 14px;
  }
  .track-number {
    width: 10px;
    padding-right: 0px;
    padding-left: 2px;
    font-weight: 200;
    text-align: right;
  }
  .song-duration {
    width: 30px;
    font-weight: 200;
  }
}

#tags {
  margin-top: 5px;
  .tag {
    margin: 4px 1px;
    &:hover{
      cursor: pointer;
    }
  }

}

#connections {
  .row {
    margin-left: 0px;
    margin-top: 2px;
    @media screen and (max-width: 500px) {
      // default materialize row margins
      margin-left: -.75rem;
      margin-right: -.75rem;
      margin-top: 0px;
    }
  }
  .connection {
    max-width: 150px;
    margin: 5px;
    display: inline-block;
    @media screen and (max-width: 500px) {
      max-width: 140px;
    }
  }
  .album-cover {
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
  }
  .empty-connections-message {
    padding: 10px 12px;
    @media screen and (max-width: 500px) {
      padding: 12px 12px;
    }
  }
}

#lists {
  #lists-ul {
    text-decoration: none;
    word-break: break-word; // force long list names to line break
    margin-left: 12px;
    margin-top: 5px;
  }
  .list {
    font-size: 1.15em;
    @media screen and (max-width: 500px) {
      font-size: 1.1em;
    }
  }
  .list-title {
    color: $modern-blue;
  }
}

#apple-music-link-container-bottom {
  margin-top: 10px;
  margin-left: 3px;
  i {
    display: inline;
    vertical-align: middle;
  }
  div {
    display: inline;
  }
}

// distance between main FAB and next button up in expanded menu
.fixed-action-btn ul {
  bottom: 40px;
}
