#connections-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  .album-cover {
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
  }
  .album {
    width: 200px;
    padding: 6px;
    line-height: normal;
    .title {
      font-weight: 500;
      font-size: 1.12rem;
      margin-top: 3px;
      margin-left: 1px;
      margin-bottom: 0px;
    }
    .artist {
      font-weight: 300;
      margin-top: 1px;
      margin-left: 1px;
      margin-bottom: 0px;
    }
    .delete-button {
      padding: 2px 4px;
      font-size: 1.2em;
      position: absolute;
      font-weight: 100;
      vertical-align: center;
      margin-top: -6px;
      margin-left: 172px;
      background-color: rgba(245,245,245,.7);
      border-radius: 12px;
      &:hover {
        cursor: pointer;
        background-color: rgba(245,245,245,.9);
      }
    }
    img {
      height: 188px;
      width: 188px;
    }
    @media screen and (max-width: 375px) {
      width: 176px;
      .delete-button {margin-left: 148px;}
      img {
        height: 164px;
        width: 164px;
      }
    }
    @media screen and (min-width: 376px) and (max-width: 414px) {
      width: 195px;
      .delete-button {margin-left: 167px;}
      img {
        height: 183px;
        width: 183px;
      }
    }
  }
}
