// override default materialize formatting for input
#connection-search-input:focus {
  /* input color when selected should still be materialize "grey lighten-5" */
  background-color: #fafafa;
  /* leave standard border bottom when typing input */
  border-bottom: 1px solid rgb(158, 158, 158);
  box-shadow: 0 1px 0 0 #9e9e9e;
}

#connection-search-container {
  margin: 50px 15px;
}

#page-header {
  margin-left: 15px;
  margin-top: 20px;
}
