#tag-input-container {
  margin: 50px 15px 0px 15px;
}

// override materialize green line on focus
.chips.focus {
  border-bottom: 1px solid #9e9e9e;
  box-shadow: 0 1px 0 0 #9e9e9e;
}

// extend default input width
.chips .input {
  width: 150px !important;
}

// override materialize green on tag select
.chip:focus{
  color: rgba(0,0,0,0.6);
  background-color: #e4e4e4;
}
